* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.gridContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header"
    "map";
}

.header {
  grid-area: header;
  background: blue;
}

#map {
  grid-area: map;
  height: 100%;
  width: 100%;
}

#mapControl {
  padding: 20px;
  background: black;
}

#footer {
  grid-area: footer;
  background: blue;
}

.placeCard {
  list-style: none;
  background: gray;
  padding: 5px;
  margin: 15px 0 15px 0;
}

.placeCard:hover {
  background: lightgrey;
}
