.toggle-menu-button {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  position: relative;
  z-index: 1000;
  justify-content: center;
  margin: 5px;
}

.toggle-menu-button i {
  position: absolute;
  display: block;
  height: 2px;
  background: whitesmoke;
  width: 40px;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-menu-button i:nth-child(1) {
  top: 16px;
}

.toggle-menu-button i:nth-child(2) {
  top: 24px;
}

.toggle-menu-button i:nth-child(3) {
  top: 32px;
}

.toggle-menu-button.active i:nth-child(1) {
  top: 25px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.toggle-menu-button.active i:nth-child(2) {
  background: transparent;
}

.toggle-menu-button.active i:nth-child(3) {
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.menu-drawer {
  width: 200px;
  background-color: #ccc;
  position: absolute;
  right: -550px;
  top: 50px;
  bottom: 0;
  transition: right linear 0.2s;
  padding: 15px;
  z-index: 2;
  overflow-y: auto;
}

.open {
  right: 0px;
  transition: right linear 0.2s;
}

.menu-drawer a {
  text-decoration: none;
  color: #555;
}

.menu-drawer li {
  font-family: lato;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
